.App {
  text-align: center;
}
.Link{
  text-decoration: none;
  color:#21a06a;
}
.WatchBgImage{
  width: 20%;
}

/* color: "#21a06a" */
/* //responsive  */
@media only screen and (max-width:768px) {

}